# --- Bỏ qua dữ liệu chạy ---
temp/

# --- Bỏ qua Model nặng (Rất quan trọng) ---
*.pth
*.bin
*.safetensors
*.pt
model_weights/
deepseek-ai/

# --- Bỏ qua môi trường ảo và cache ---
venv/
env/
tomenv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/